/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/app/config/parameters.yml
.idea/*
/tests/acceptance/WebGuy.php
/tests/functional/TestGuy.php
/tests/unit/CodeGuy.php