.upload_info {
     list-style-type: none;
     padding: 0 5px;
     margin: 5px 0;
     .header {
         font-weight: bold;
         display: block;
     }
     .value {
         text-overflow: ellipsis clip;
     }
 }

.tpg-s3upload {
    margin: 5px;
    padding: 5px;
    border: 3px dashed #cccccc;
    min-height: 100px;
    color: #999;
    text-align: center;

    &.over {
        border: 3px dashed #ffdc0c;
        color: #b68700;
        font-weight: bold;
    }
}

.menu-item-32 {
    .x-menu-item-link {
        line-height: 32px;
        padding-left: 40px;
    }
    .x-menu-item-icon {
        width: 32px;
        height: 32px;
        top: 0px;
    }
    .x-menu-item-text {
        position: relative;
        top: 6px
    }
}

#workplaceSection {
    .x-menu-item-text {
        font-weight: bold;
    }
}